

/*HEADER*/

#header1 {
  background: url("../img/header_bg.jpg") repeat;
  height: 72px;
}

#header2 {
  background: url("../img/main_bg.jpg");
  height: 240px;
}

nav {
  float: right;
  user-select:none;
  background-color: #990033;
}

nav a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

nav ul{
  cursor:pointer;
  float: right;
}

nav li{
  display: inline;
  padding: 0 20px 0 20px;
}

#navbar_s {
  background-color: #cccccc;
  cursor:pointer;
}

#navbar_s ul {
  cursor:pointer;
  float: left;
}

#navbar_s li {
  cursor: pointer;
  display: inline;
}

#navbar_s a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 1em;
  font-weight: bold;
}

/*MAIN*/

form {
  background-color: #cccccc;
  padding: 15px;
  line-height: 0.8
}

aside {
  background-color: #ffffff;
}

.box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  }

.article2 {
  float: left;
}

.lists {
  float: left;
  text-align: left;
  width: 30%;
  padding: 10px;
}

.table {
  float: left;
}

/*FOOTER*/

#footer {
  background: url("../img/footer_bg.jpg") repeat;
}

.footerBox {
  float: left;
  text-align: left;
  width: 30%;
  line-height: 1;
  color: #ffffff;


/*body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;;
	padding: 0;
	margin: 0;
  background-color: #cccccc;
  */


